<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56425295824-brpujm4a7tc53s14kvjdmum9g07k4fgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56425295824-brpujm4a7tc53s14kvjdmum9g07k4fgu</string>
	<key>API_KEY</key>
	<string>AIzaSyB0wYf_9N_0hmIovklhS4j_SVDQTS-NQf0</string>
	<key>GCM_SENDER_ID</key>
	<string>56425295824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.guilermebarciki.Cast-It</string>
	<key>PROJECT_ID</key>
	<string>nanobusiness-cast-it</string>
	<key>STORAGE_BUCKET</key>
	<string>nanobusiness-cast-it.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:56425295824:ios:239e8c8117cb91cfbd93d5</string>
</dict>
</plist>
